<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    <div id="nav">
        {% block nav %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/second">Second</a></li>
            </ul>
        {% endblock %}
    </div>
        {% block body %}
        <p>TEST</p>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
