{%  extends 'navigation.html.twig' %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>THIS IS THE HOME PAGE! COOL!!</h1>
        </div>
    </div>

{% endblock %}