{%  extends 'navigation.html.twig' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>THIS IS YOUR FORM!</h1>

        {#{{ form_errors(form) }}#}
        {{ form_start(form,{"method":"POST"}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
% endblock %}