extend layout
block content
  .container
    .jumbotron
      if success
        .alert.alert-success
          p CONGRATULATIONS! You are now registered!
      else
        if errors
          ul.list-group
            each error in errors
              li.list-group-item.list-group-item-danger error.msg
        form(action='/submit' method='post')
          h1 Registration Form
          .form-group
            label(for='name') Name
            input#name.form-control(type='text', name='email', placeholder='Enter Name')
          .form-group
            label(for='email') Email
            input#email.form-control(type='email', name='email', placeholder='name@example.com')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password', placeholder='Enter Password')
          button.btn.btn-primary(type='submit') Sign up
