extend layout
block content
  div.top
  div.container
    div.jumbotron
      h1 Fruit and Vegetable List
      p #[a(href='/add') New Entry]
      ul
        each item in product
          li
            p(name=item['id']) #{item["name"]} #[a(href='/update') Update] || #[a(href='/delete') Delete]
