extend layout
block content
  .container
    .jumbotron
        form(action='/updateProduce/'+produce["id"] method='post')
          h1 Add Produce
          .form-group
            label(for='name') Name
            input#name.form-control(type='text', name='name', placeholder=produce['name'])
          button.btn.btn-primary(type='submit') Update
