{%  extends 'navigation.html.twig' %}

{% block title %}Number!{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Your lucky number is {{ number }}</h1>
        </div>
    </div>
{% endblock %}